// These colors are specific to the theme. Do not use in a package!

@background: #232C31;
@black: #2D3C46;
@black-bright: #425059;
@red: #A54242;
@red-bright: #CC6666;
@green: #8C9440;
@green-bright: #B5BD68;
@yellow: #DE935F;
@yellow-bright: #F0C674;
@blue: #5F819D;
@blue-bright: #81A2BE;
@magenta: #85678F;
@magenta-bright: #B294BB;
@cyan: #5E8D87;
@cyan-bright: #8ABEB7;
@white: #6C7A80;
@white-bright: #C5C8C6;
